{{^title}}
<h2>Start Uploading</h2>
<form action='http://localhost/upload' method='POST' enctype='multipart/form-data' name="uploadfile">
  <input type='file' name='file'><br>
  <input type='text' name='title' placeholder="Title"><br>
  <input type='text' name='desc' placeholder="Description"><br>
  <input type='submit' name='upload_btn' value='upload'>
</form>

<a href="http://localhost/">Cancel</a>

<div id="progress"> </div>
{{/title}}

{{#title}}
Server is now downloading and will be seeding: {{title}}.<br>You may go back to the <a href=http://localhost:3000>website</a>.
{{/title}}


<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
<script>
var client = new WebTorrent()

client.on('error', (err) => {
	console.error('ERROR: ' + err.message)
})

//Event listened triggered when user presses submit button
document.querySelector('form').addEventListener('submit', handlesubmit)

//Catch the Event and extract the data from the form that would have been sent
function handlesubmit (submit) {
  var formData = new FormData(document.querySelector('form'))
	startseed(formData)
	submit.preventDefault() // Prevent page refresh
}

//Using the data from the form, seed the torrent, or print error
function startseed (formData) {
  console.log('1:' + formData)
  torrentfile = formData.getAll('file')
  client.seed(torrentfile, { announceList: [['ws://localhost:8080']] })
  console.log('2:' + formData)

  //Once the torrent starts seeding, inform the server to download the torrent
  client.on('torrent', function (torrent) {
    //Send a notification to the server to download this file.
    //TODO: find a better way.
    console.log('3:' + formData)
    var xhttp = new XMLHttpRequest()
    xhttp.open('POST', 'http://localhost/upload', true)
    var sendData = new FormData()
    sendData.append('title', formData.get('title'))
    sendData.append('desc', formData.get('desc'))
    sendData.append('infoHash', torrent.infoHash)
    xhttp.send(sendData)
    console.log('Seeding file')
  })
}

</script>
