{{^title}}
<h2>Start Uploading</h2>
<form action='http://localhost/upload' method='POST' enctype='multipart/form-data' name="uploadfile">
    <input type='file' name='file' id="fileupload" multiple><br>
    <input type='submit' name='upload_btn' value='upload'>
</form>

<div id="progress"> </div>
{{/title}}

{{#title}}
Server is now downloading and will be seeding: {{title}}.<br>You may go back to the <a href=http://localhost:3000>website</a>.
{{/title}}


<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
<script>
var client = new WebTorrent()
var xhttp = new XMLHttpRequest()

client.on('error', (err) => {
	console.error('ERROR: ' + err.message)
})

document.querySelector('form').addEventListener('submit', function (e) {
	e.preventDefault() // Prevent page refresh
	
	var selectedFiles = document.querySelector('form input[name=file]').files
	var fto = []
	for (var i = 0; i < selectedFiles.length; i++) {
		fto.push(selectedFiles.item(i))
	}
	console.log('Adding: ' + fto)
	//client.seed(fto, { announceList: [['http://localhost:8080'], ['udp://localhost:8080']] }, onTorrent)
	client.seed(fto, onTorrent)
})

function onTorrent (torrent) {
	//Does it create an infoHash? Is that a viable way to check if it DID create a torrent?
	console.log(torrent.infoHash)
	console.log(torrent.files)
	xhttp.open('POST', 'http://localhost/upload', true)
	xhttp.send(torrent.infoHash)
}

</script>