{{^title}}
<div id="progress">
  <h2>Start Uploading</h2>
  <form action='http://localhost/upload' method='POST' enctype='multipart/form-data' name="uploadfile">
    <input type='file' name='file'><br>
    <input type='text' name='title' placeholder="Title"><br>
    <input type='text' name='desc' placeholder="Description"><br>
    <input type='submit' name='upload_btn' value='upload'>
  </form>

  <a href="http://localhost/">Cancel</a>
</div>
{{/title}}

{{#title}}
Server is now downloading and will be seeding: {{title}}.<br>You may go back to the <a href=http://localhost:3000>website</a>.
{{/title}}


<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
<script>
var client = new WebTorrent()
var xhttp = new XMLHttpRequest()

client.on('error', (err) => {
  console.error('ERROR: ' + err.message)
})

//Event listened triggered when user presses submit button
document.querySelector('form').addEventListener('submit', handlesubmit)

//Catch the Event and extract the data from the form that would have been sent
function handlesubmit (submit) {
  submit.preventDefault() // Prevent page refresh
  var formData = new FormData(document.querySelector('form'))
  torrentfile = formData.getAll('file')
  client.seed(torrentfile, { announceList: [['ws://localhost:8080']] })
  client.on('torrent', function (torrent) {
//TODO:
// - send data to seed to start downloading
// - send data to the webserver to put into the DB
  })
}

</script>
