<!doctype html>
<html>
<head>
<style>
.title {
    font-size: 200%;
}
</style>
</head>
  <body>

	<a href="http://localhost:3000/">Home</a><br><br>
	<div class="title">{{title}}</div>
	<hr>
	{{desc}}<br>
	{{magnet}}<br>
	ID: {{vidID}} User: {{UID}}
	<hr>
	
	<div id="progress"> </div>
    <div class="output"></div>

    <!-- Include the latest version of WebTorrent -->
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>

    <script>
	var client = new WebTorrent()
	var torrentId = '{{{magnet}}}'
	
	window.onload = function() {
        client.add(torrentId, onTorrent)
	}

    client.on('error', function (err) {
		console.error('ERROR: ' + err.message)
    })

    function onTorrent (torrent) {
        console.log('Got torrent metadata!')
        console.log('Torrent info hash: ' + torrent.infoHash)

        // Print out progress every 5 seconds
        var interval = setInterval(function () {
			var p = document.createElement('p')
			p.innerHTML = 'Progress: ' + (torrent.progress * 100).toFixed(1) + '%'
			var item = document.getElementById("progress").childNodes[0]
			document.querySelector('#progress').replaceChild(p, item)
        }, 5000)

		//Stop timer when the torrent is fully downloaded
        torrent.on('done', function () {
			clearInterval(interval)
        })

        // Render all files into to the page
        torrent.files.forEach(function (file) {
			file.appendTo('.output')
			file.getBlobURL(function (err, url) {
			if (err) return output(err.message)
				output('<a href="' + url + '">Download full file: ' + file.name + '</a>')
			})
        })
    }

    function output (str) {
		var p = document.createElement('p')
		p.innerHTML = str
		document.querySelector('.output').appendChild(p)
	}
    </script>
  </body>
</html>